venv
venvwin
/Log/**
!/Log/**/
!/Log/**/.gitkeep
/Data/Recv/**
!/Data/Recv/**
!/Data/Recv/**/.gitkeep
/Data/Temp/**
!/Data/Temp/**/
!/Data/Temp/**/.gitkeep

.certs/**
!.certs/**
!.certs/**/.gitkeep

!.gitignore
!.gitkeep
__pycache__

